<section class="catalog-section">
  <!------------------------------- Catalog---------------- -->

  <div class="container">
    <h2 class="cat-title">Catalog</h2>
    <ul class="catalog-list-mob">
      <li class="catalog-mob">
        <a href="" class="">
          <img src="" class="catal-img" srcset="../img/sale/IMG_Tube-2x.jpg 2x" alt="clock" width="335" height="360">
          <h3 class="cat-mob-item">Tube Watch S42 Date Steel With Black Case</h3>
          <p class="cat-mob-next">€395</p>

        </a>
      </li>
      <li class="catalog-mob">
        <a href="" class="">
          <img src="" class="catal-img" srcset="../img/sale/IMG_Avondale-Police-2x.jpg 2x" alt="clock" width="335" height="360">
          <h3 class="cat-mob-item">Avondale Watch Police For Men</h3>
          <p class="cat-mob-next">€800</p>

        </a>
      </li>
      <li class="catalog-mob">
        <a href="" class="">
          <img src="" class="catal-img" srcset="../img/sale/IMG_Diver-2x.jpg 2x" alt="clock" width="335" height="360">
          <h3 class="cat-mob-item">Diver 300M Co‑Axial Master Chronometer Chronograph</h3>
          <p class="cat-mob-next">€600</p>

        </a>
      </li>
      <li class="catalog-mob">
        <a href="" class="">
          <img src="" class="catal-img" srcset="../img/sale/IMG_Diver-Axsima-2x.jpg 2x" a lt="clock" width="335" height="360">
          <h3 class="cat-mob-item">Diver 300M Co-Axial Master Chronometer</h3>
          <p class="cat-mob-next">€1400</p>

        </a>
      </li>
      <li class="catalog-mob">
        <a href="" class="">
          <img src="" class="catal-img" srcset="../img/sale/IMG_Taman-Police-2x.jpg 2x" a lt="clock" width="335" height="360">
          <h3 class="cat-mob-item">Taman Watch By Police For Men</h3>
          <p class="cat-mob-next">€500</p>

        </a>
      </li>
      <li class="catalog-mob">
        <a href="" class="">
          <img src="" class="catal-img" srcset="../img/sale/IMG_Malawi-Police-2x.jpg 2x" alt="clock" width="335" height="360">
          <h3 class="cat-mob-item">Malawi Watch Police For Men</h3>
          <p class="cat-mob-next">€555</p>

        </a>
      </li>
      <li class="catalog-mob">
        <a href="" class="">
          <img src="" class="catal-img" srcset="../img/sale/IMG_Diver1200-2x.jpg 2x" alt="clock" wid th="335" hei ght="360">
          <h3 class="cat-mob-item">Diver 300M Co-Axial Master Chronometer</h3>
          <p class="cat-mob-next">€1200</p>

        </a>
      </li>
      <li class="catalog-mob">
        <a href="" class="">
          <img src="" class="catal-img" class="" srcset="../img/sale/IMG_GreenlanePolice-2x.jpg 2x" alt="clock" width="335" height="360">
          <h3 class="cat-mob-item">Greenlane Watch By Police For Men</h3>
          <p class="cat-mob-next">€1000</p>

        </a>
      </li>
    </ul>

    <button type="button" class="catalog-but-mob">BUY NOW</button>
  </div>
</section>