<section class="catalog-section">
  <!------------------------------- Catalog---------------- -->

  <div class="catalog-container">
    <h2 class="cat-title" id="catalog">Catalog</h2>
    <ul class="catalog-list-mob">
      <li class="catalog-mob">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/clock-01-min.png"
                class="catal-img"
                srcset="./img/catalog/clock-01-2x-min.png 2x"
                alt="clock"
              />
              <p class="cat-mob-item">
                Tube Watch S42 Date Steel With Black...
              </p>
              <span class="cat-mob-next">€395</span>
            </div>
            <div class="flip-card-back">
              <div class="flip-card-back-text">
                <h3 class="flip-card-back-title">Description</h3>
                <p class="flip-card-back-paragraph">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <h3 class="flip-card-back-title">DETAILS & FEATUREStion</h3>
              <p class="flip-card-back-paragraph details-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />Features: Multifunction <br />Water
                Resistant: 5 (ATM) <br />Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="catalog-mob">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/clock-02-min.png"
                class="catal-img"
                srcset="./img/catalog/clock-02-2x-min.png 2x"
                alt="clock"
              />
              <p class="cat-mob-item">Avondale Watch Police For Men</p>
              <span class="cat-mob-next">€800</span>
            </div>
            <div class="flip-card-back">
              <div class="flip-card-back-text">
                <h3 class="flip-card-back-title">Description</h3>
                <p class="flip-card-back-paragraph">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <h3 class="flip-card-back-title">DETAILS & FEATUREStion</h3>
              <p class="flip-card-back-paragraph details-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />Features: Multifunction <br />Water
                Resistant: 5 (ATM) <br />Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="catalog-mob">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/clock-03-min.png"
                class="catal-img"
                srcset="./img/catalog/clock-03-2x-min.png 2x"
                alt="clock"
              />
              <p class="cat-mob-item">
                Diver 300M Co‑Axial Master Chronomete...
              </p>
              <span class="cat-mob-next">€600</span>
            </div>
            <div class="flip-card-back">
              <div class="flip-card-back-text">
                <h3 class="flip-card-back-title">Description</h3>
                <p class="flip-card-back-paragraph">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <h3 class="flip-card-back-title">DETAILS & FEATUREStion</h3>
              <p class="flip-card-back-paragraph details-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />Features: Multifunction <br />Water
                Resistant: 5 (ATM) <br />Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="catalog-mob">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/clock-04-min.png"
                class="catal-img"
                srcset="./img/catalog/clock-04-2x-min.png 2x"
                alt="clock"
              />
              <p class="cat-mob-item">Diver 300M Co-Axial Master Chronometer</p>
              <span class="cat-mob-next">€1400</span>
            </div>
            <div class="flip-card-back">
              <div class="flip-card-back-text">
                <h3 class="flip-card-back-title">Description</h3>
                <p class="flip-card-back-paragraph">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <h3 class="flip-card-back-title">DETAILS & FEATUREStion</h3>
              <p class="flip-card-back-paragraph details-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />Features: Multifunction <br />Water
                Resistant: 5 (ATM) <br />Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="catalog-mob">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/clock-05-min.png"
                class="catal-img"
                srcset="./img/catalog/clock-05-2x-min.png 2x"
                alt="clock"
              />
              <p class="cat-mob-item">Taman Watch By Police For Men</p>
              <span class="cat-mob-next">€500</span>
            </div>
            <div class="flip-card-back">
              <div class="flip-card-back-text">
                <h3 class="flip-card-back-title">Description</h3>
                <p class="flip-card-back-paragraph">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <h3 class="flip-card-back-title">DETAILS & FEATUREStion</h3>
              <p class="flip-card-back-paragraph details-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />Features: Multifunction <br />Water
                Resistant: 5 (ATM) <br />Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="catalog-mob">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/clock-06-min.png"
                class="catal-img"
                srcset="./img/catalog/clock-06-2x-min.png 2x"
                alt="clock"
              />
              <p class="cat-mob-item">Malawi Watch Police For Men</p>
              <span class="cat-mob-next">€555</span>
            </div>
            <div class="flip-card-back">
              <div class="flip-card-back-text">
                <h3 class="flip-card-back-title">Description</h3>
                <p class="flip-card-back-paragraph">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <h3 class="flip-card-back-title">DETAILS & FEATUREStion</h3>
              <p class="flip-card-back-paragraph details-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />Features: Multifunction <br />Water
                Resistant: 5 (ATM) <br />Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="catalog-mob">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/clock-07-min.png"
                class="catal-img"
                srcset="./img/catalog/clock-07-2x-min.png 2x"
                alt="clock"
              />
              <p class="cat-mob-item">Diver 300M Co-Axial Master Chronometer</p>
              <span class="cat-mob-next">€1200</span>
            </div>
            <div class="flip-card-back">
              <div class="flip-card-back-text">
                <h3 class="flip-card-back-title">Description</h3>
                <p class="flip-card-back-paragraph">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <h3 class="flip-card-back-title">DETAILS & FEATUREStion</h3>
              <p class="flip-card-back-paragraph details-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />Features: Multifunction <br />Water
                Resistant: 5 (ATM) <br />Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="catalog-mob">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/clock-08-min.png"
                class="catal-img"
                srcset="./img/catalog/clock-08-2x-min.png 2x"
                alt="clock"
              />
              <p class="cat-mob-item">Greenlane Watch By Police For Men</p>
              <span class="cat-mob-next">€1000</span>
            </div>
            <div class="flip-card-back">
              <div class="flip-card-back-text">
                <h3 class="flip-card-back-title">Description</h3>
                <p class="flip-card-back-paragraph">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <h3 class="flip-card-back-title">DETAILS & FEATUREStion</h3>
              <p class="flip-card-back-paragraph details-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />Features: Multifunction <br />Water
                Resistant: 5 (ATM) <br />Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="catalog-mob tabl-none">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/clock-09-min.png"
                class="catal-img"
                srcset="./img/catalog/clock-09-2x-min.png 2x"
                alt="clock"
              />
              <p class="cat-mob-item">Squardrc 5402 Chrono</p>
              <span class="cat-mob-next">€359</span>
            </div>
            <div class="flip-card-back">
              <div class="flip-card-back-text">
                <h3 class="flip-card-back-title">Description</h3>
                <p class="flip-card-back-paragraph">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <h3 class="flip-card-back-title">DETAILS & FEATUREStion</h3>
              <p class="flip-card-back-paragraph details-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />Features: Multifunction <br />Water
                Resistant: 5 (ATM) <br />Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="catalog-mob tabl-none">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/clock-10-min.png"
                class="catal-img"
                srcset="./img/catalog/clock-10-2x-min.png 2x"
                alt="clock"
              />
              <p class="cat-mob-item">
                Diver 300M Co‑Axial Master Chronomete...
              </p>
              <span class="cat-mob-next">€400</span>
            </div>
            <div class="flip-card-back">
              <div class="flip-card-back-text">
                <h3 class="flip-card-back-title">Description</h3>
                <p class="flip-card-back-paragraph">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <h3 class="flip-card-back-title">DETAILS & FEATUREStion</h3>
              <p class="flip-card-back-paragraph details-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />Features: Multifunction <br />Water
                Resistant: 5 (ATM) <br />Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="catalog-mob tabl-none">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/clock-11-min.png"
                class="catal-img"
                srcset="./img/catalog/clock-11-2x-min.png 2x"
                alt="clock"
              />
              <p class="cat-mob-item">Citizen</p>
              <span class="cat-mob-next">€519</span>
            </div>
            <div class="flip-card-back">
              <div class="flip-card-back-text">
                <h3 class="flip-card-back-title">Description</h3>
                <p class="flip-card-back-paragraph">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <h3 class="flip-card-back-title">DETAILS & FEATUREStion</h3>
              <p class="flip-card-back-paragraph details-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />Features: Multifunction <br />Water
                Resistant: 5 (ATM) <br />Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="catalog-mob tabl-none">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/clock-12-min.png"
                class="catal-img"
                srcset="./img/catalog/clock-12-2x-min.png 2x"
                alt="clock"
              />
              <p class="cat-mob-item">Armani Exchange</p>
              <span class="cat-mob-next">€400</span>
            </div>
            <div class="flip-card-back">
              <div class="flip-card-back-text">
                <h3 class="flip-card-back-title">Description</h3>
                <p class="flip-card-back-paragraph">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <h3 class="flip-card-back-title">DETAILS & FEATUREStion</h3>
              <p class="flip-card-back-paragraph details-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />Features: Multifunction <br />Water
                Resistant: 5 (ATM) <br />Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <button type="button" data-modal-open class="catalog-but-mob">
      BUY NOW
    </button>
  </div>

  <!-- MODAL -->

  <div class="backdrop is-hidden" data-modal>
    <div class="modal" data-modal>
      <button type="button" class="icon-form" data-modal-close>
        <svg class="close-modal-icon" width="20" height="20">
          <use href="./img/icons.svg#icon-modal-menu"></use>
        </svg>
      </button>

      <div class="modal-form-wrap">
        <div class="wrap">
          <img
            src="./img/catalog/clock-01-min.png"
            class="wrap-img"
            srcset="./img/catalog/clock-01-2x-min.png 2x"
            alt="clock"
          />
          <h3 class="cat-mob-item">Tube Watch S42 Date Steel With Black...</h3>
          <p class="cat-mob-next">€395</p>
        </div>

        <form name="watch-form" class="form-modal-list" novalidate>
          <div class="form-item">
            <div class="modal-form">
              <label for="user_name" class="label-form">Full name</label>
              <input
                type="text"
                name="fullname"
                id="user_name"
                class="input-form"
                placeholder="Enter your full name"
                autofocus
                required
              />
            </div>
            <div class="modal-form">
              <label for="user_email" class="label-form">Email</label>
              <input
                type="email"
                name="email"
                id="user_email"
                class="input-form"
                placeholder="Enter your email"
                required
              />
            </div>
            <div class="modal-form">
              <label for="user_card" class="label-form">Card number</label>
              <input
                type="text"
                name="cardnumber"
                id="user_card"
                class="input-form"
                placeholder="Enter card"
                required
              />
            </div>
            <div class="modal-form">
              <label for="user_comments" class="label-form">Comments</label>
              <textarea
                name="comments"
                id="user_comments"
                class="input-form-comment"
                placeholder="Enter your text"
              ></textarea>
            </div>

            <button type="submit" class="button-submit">submit</button>
            <p class="cat-mob-next">
              By clicking on “Submit” button, you agree to our Privacy Policy,
              and allow Promodo to use this information for marketing purposes.
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
