<section class="catalog-section">
  <!------------------------------- Catalog---------------- -->

  <div class="container">
    <h2 class="cat-title">Catalog</h2>
    <ul class="catalog-list-mob">
      <li class="catalog-mob">
        <a href="" class="">
          <img src="./img/catalog/IMG_Tube.jpg" class="catal-img" srcset="" alt="clock" width="276" height="274">
          <h3 class="cat-mob-item">Tube Watch S42 Date Steel With Black...</h3>
          <p class="cat-mob-next">€395</p>

        </a>
      </li>
      <li class="catalog-mob">
        <a href="" class="">
          <img src="./img/catalog/IMG_Avondale-Police.jpg" class="catal-img" srcset="" alt="clock"  width="276" height="274">
          <h3 class="cat-mob-item">Avondale Watch Police For Men</h3>
          <p class="cat-mob-next">€800</p>

        </a>
      </li>
      <li class="catalog-mob">
        <a href="" class="">
          <img src="./img/catalog/IMG_Diver.jpg" class="catal-img" srcset="" alt="clock"  width="276" height="274">
          <h3 class="cat-mob-item">Diver 300M Co‑Axial Master Chronomete...</h3>
          <p class="cat-mob-next">€600</p>

        </a>
      </li>
      <li class="catalog-mob">
        <a href="" class="">
          <img src="./img/catalog/IMG_Diver-Axsima.jpg" class="catal-img" srcset="" a lt="clock"  width="276" height="274">
          <h3 class="cat-mob-item">Diver 300M Co-Axial Master Chronometer</h3>
          <p class="cat-mob-next">€1400</p>

        </a>
      </li>
      <li class="catalog-mob">
        <a href="" class="">
          <img src="./img/catalog/IMG_Taman-Police.jpg" class="catal-img" srcset="" a lt="clock"  width="276" height="274">
          <h3 class="cat-mob-item">Taman Watch By Police For Men</h3>
          <p class="cat-mob-next">€500</p>

        </a>
      </li>
      <li class="catalog-mob">
        <a href="" class="">
          <img src="./img/catalog/IMG_Malawi-Police.jpg" class="catal-img" srcset="" alt="clock"  width="276" height="274">
          <h3 class="cat-mob-item">Malawi Watch Police For Men</h3>
          <p class="cat-mob-next">€555</p>

        </a>
      </li>
      <li class="catalog-mob">
        <a href="" class="">
          <img src="./img/catalog/IMG_Diver1200.jpg" class="catal-img" srcset="" alt="clock"  width="276" height="274" >
          <h3 class="cat-mob-item">Diver 300M Co-Axial Master Chronometer</h3>
          <p class="cat-mob-next">€1200</p>

        </a>
      </li>
      <li class="catalog-mob">
        <a href="" class="" >
          <img src="./img/catalog/IMG_GreenlanePolice.jpg" class="catal-img"  srcset="" alt="clock"  width="276" height="274">
          <h3 class="cat-mob-item">Greenlane Watch By Police For Men</h3>
          <p class="cat-mob-next">€1000</p>

        </a>
      </li>
      <li class="catalog-mob tabl-none">
        <a href="">
          <img src="./img/catalog/IMG_Squardrc.jpg"  class="catal-img" srcset="" alt="clock"  width="276" height="274">
          <h3 class="cat-mob-item">Squardrc 5402 Chrono</h3>
          <p class="cat-mob-next">€359</p>
        </a>
      </li>
      <li class="catalog-mob tabl-none">
        <a href="">
          <img src="./img/catalog/IMG_Diver-Chronograph.jpg"  class="catal-img" srcset="" alt="clock"  width="276" height="274">
          <h3 class="cat-mob-item">Diver 300M Co‑Axial Master Chronomete...</h3>
          <p class="cat-mob-next">€400</p>
        </a>
      </li>
      <li class="catalog-mob tabl-none">
        <a href="">
          <img src="./img/catalog/IMG_Citizen.jpg"  class="catal-img" srcset="" alt="clock"  width="276" height="274">
          <h3 class="cat-mob-item">Citizen</h3>
          <p class="cat-mob-next">€519</p>
        </a>
      </li>
      <li class="catalog-mob tabl-none">
        <a href="">
          <img src="./img/catalog/IMG_Armani.jpg"  class="catal-img" srcset="" alt="clock"  width="276" height="274">
          <h3 class="cat-mob-item">Armani Exchange</h3>
          <p class="cat-mob-next">€400</p>
        </a>
      </li>
    </ul>

    <button type="button" class="catalog-but-mob">BUY NOW</button>
  </div> 
</section>