<section class="hero">
  <div class="container-hero">
    <h1 class="hero-title">Welcome to our collection of premium watches</h1>
    <div class="watches-gallery">
      <div class="hero-desk-wrapper">
        <div class="right-pard-wrapper">
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <picture class="watch-hero-picture">
                  <source srcset="./img/hero/watch-hero-tab-1.jpeg 1x, ./img/hero/watch-hero-tab-1@2x.jpeg 2x" media="(min-width: 768px)" width="436" height="255">
                  <source srcset="./img/hero/watch-hero-1@2x.jpeg 2x" media="(max-width: 767px)" width="266" height="200">
                  <img src="./img/hero/watch-hero-1.jpeg" alt="green watch" class="watch-hero-img" width="266" height="200">
                </picture>
                <div class="slide-number-wrapper">
                  <p class="number-of-watch">01 <span class="end-number-watches">05</span></p>
                </div>
              </div>
              <div class="swiper-slide">
                <picture class="watch-hero-picture">
                  <source srcset="./img/hero/watch-hero-tab-2.jpeg 1x, ./img/hero/watch-hero-tab-2@2x.jpeg 2x" media="(min-width: 768px)" width="436" height="255">
                  <source srcset="./img/hero/watch-hero-2@2x.jpeg 2x" media="(max-width: 767px)" width="266" height="200">
                  <img src="./img/hero/watch-hero-2.jpeg" alt="black watch" class="watch-hero-img" width="266" height="200">
                </picture>
                <div class="slide-number-wrapper">
                  <p class="number-of-watch">02 <span class="end-number-watches">05</span></p>
                </div>
              </div>
              <div class="swiper-slide">
                <picture class="watch-hero-picture">
                  <source srcset="./img/hero/watch-hero-tab-3.jpeg 1x, ./img/hero/watch-hero-tab-3@2x.jpeg 2x" media="(min-width: 768px)" width="436" height="255">
                  <source srcset="./img/hero/watch-hero-3@2x.jpeg 2x" media="(max-width: 767px)" width="266" height="200">
                  <img src="./img/hero/watch-hero-3.jpeg" alt="metal watch" class="watch-hero-img" width="266" height="200">
                </picture>
                <div class="slide-number-wrapper">
                  <p class="number-of-watch">03 <span class="end-number-watches">05</span></p>
                </div>
              </div>
              <div class="swiper-slide">
                <picture class="watch-hero-picture">
                  <source srcset="./img/hero/watch-hero-tab-4.jpeg 1x, ./img/hero/watch-hero-tab-4@2x.jpeg 2x" media="(min-width: 768px)" width="436" height="255">
                  <source srcset="./img/hero/watch-hero-4@2x.jpeg 2x" media="(max-width: 767px)" width="266" height="200">
                  <img src="./img/hero/watch-hero-4.jpeg" alt="black watch" class="watch-hero-img" width="266" height="200">
                </picture>
                <div class="slide-number-wrapper">
                  <p class="number-of-watch">04 <span class="end-number-watches">05</span></p>
                </div>
              </div>
              <div class="swiper-slide">
                <picture class="watch-hero-picture">
                  <source srcset="./img/hero/watch-hero-tab-5.jpeg 1x, ./img/hero/watch-hero-tab-5@2x.jpeg 2x" media="(min-width: 768px)" width="436" height="255">
                  <source srcset="./img/hero/watch-hero-5@2x.jpeg 2x" media="(max-width: 767px)" width="266" height="200">
                  <img src="./img/hero/watch-hero-5.jpeg" alt="metal watch" class="watch-hero-img" width="266" height="200">
                </picture>
                <div class="slide-number-wrapper">
                  <p class="number-of-watch">05 <span class="end-number-watches">05</span></p>
                </div>
              </div>
            </div>
            <div class="btn-wrapper swiper-buttons">
              <button type="button" class="slide-btn-hero btn button-prev">
                <svg class="hero-slider-icon" width="18" height="18">
                <use href="./img/icons.svg#icon-chevron-left"></use>
                </svg>
              </button>
              <button type="button" class="slide-btn-hero btn button-next">
                <svg class="hero-slider-icon" width="18" height="18">
                <use href="./img/icons.svg#icon-chevron-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <p class="descr-watches-hero">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p> 
        <picture class="watch-arm-hero-picture">
          <source srcset="./img/hero/watch-on-arm-desk.jpg 1x, ./img/hero/watch-on-arm-desk@2x.jpg 2x" media="(min-width: 1280px)">
          <source srcset="./img/hero/watch-on-arm-tab.jpeg 1x, ./img/hero/watch-on-arm-tab@2x.jpeg 2x" media="(min-width: 768px)">
          <source srcset="./img/hero/watch-on-arm@2x.jpeg 2x" media="(max-width: 767px)" width="335" height="410">
          <img src="./img/hero/watch-on-arm.jpeg" alt="black watch on arm" class="watch-arm-hero-img" width="335" height="410">
        </picture>
      </div>
    </div>  
  </div>
</section>
