<section class="hero container">
<h1 class="hero-title">Welcome to our collection of premium watches</h1>
<div class="watches-gallery">
  <picture>
    <source srcset="../img/hero/watch-hero-tab-1.jpeg 1x, ../img/hero/watch-hero-tab-1@2x.jpeg 2x" media="(min-width: 768px)">
    <source srcset="../img/hero/watch-hero-1@2x.jpeg 2x" media="(max-width: 767px)">
    <img src="../img/hero/watch-hero-1.jpeg" alt="watch" class="watch-hero-img">
  </picture>
  <button type="button" class="swip-img-hero"></button>
  <button type="button" class="swip-img-hero"></button>
  <p class="number-of-watch">01 <span class="end-number-watches">05</span></p>
</div>
<p class="descr-watches-hero">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>
</section>
