<section class="sale-section">
  <div class="sale-container">
    <h2 class="sale-title" id="sale">Sale</h2>
    <div class="sale-box">
      <div class="sale-img-thumb">
        <ul>
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  ./img/sale/clock-first-mobile.jpg    1x,
                  ./img/sale/clock-first-mobile-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/sale/clock-first.jpg    1x,
                  ./img/sale/clock-first-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./img/sale/clock-first-mobile.jpg"
                alt="Watch by police for men front"
              />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  ./img/sale/clock-second-mobile.jpg    1x,
                  ./img/sale/clock-second-mobile-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/sale/clock-second.jpg    1x,
                  ./img/sale/clock-second-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./img/sale/clock-second-mobile.jpg"
                alt="Watch by police for men side"
              />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  ./img/sale/clock-back-mobile.jpg    1x,
                  ./img/sale/clock-back-mobile-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/sale/clock-back.jpg    1x,
                  ./img/sale/clock-back-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./img/sale/clock-back-mobile.jpg"
                alt="Watch by police for men back"
              />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  ./img/sale/clock-macro-mobile.jpg    1x,
                  ./img/sale/clock-macro-mobile-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/sale/clock-macro.jpg    1x,
                  ./img/sale/clock-macro-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./img/sale/clock-macro-mobile.jpg"
                alt="Watch by police for men macro"
              />
            </picture>
          </li>
        </ul>
        <picture>
          <source
            srcset="
              ./img/sale/clock-main-mobile.jpg    1x,
              ./img/sale/clock-main-mobile-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/sale/clock-main.jpg    1x,
              ./img/sale/clock-main-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/sale/clock-main-mobile.jpg"
            alt="Watch by police for men main"
          />
        </picture>
      </div>
      <div class="sale-holder">
        <h3 class="sale-second-title">Greenlane Watch By Police For MenHT</h3>
        <p class="sale-top-text">Product tag: PEWJK2227003</p>
        <div class="sale-prices">
          <span class="sale-new-price">€700</span>
          <span class="sale-old-price">€1000</span>
        </div>
        <h4 class="sale-subtitle">Description</h4>
        <p class="sale-bottom-text subject">
          Richly detailed with an understated design - the Police Men's
          Greenlane watch features a versatile multifunction design that fits
          effortlessly into work and play. The steel case is adorned with a
          semi-transparent black dial. The timepiece exhibits a contrast through
          a black IP bracelet with matching crown and pushers.
        </p>
        <h4 class="sale-subtitle">DETAILS &#38; FEATUREStion</h4>
        <ul>
          <li>
            <p class="sale-bottom-text">Gender: man</p>
          </li>
          <li>
            <p class="sale-bottom-text">Size: 46x54.5mm</p>
          </li>
          <li>
            <p class="sale-bottom-text">Case Colour: Steel</p>
          </li>
          <li>
            <p class="sale-bottom-text">Band Material: Metal</p>
          </li>
          <li>
            <p class="sale-bottom-text">Case Material: Metal</p>
          </li>
          <li>
            <p class="sale-bottom-text">Features: Multifunction</p>
          </li>
          <li>
            <p class="sale-bottom-text">Water Resistant: 5 (ATM)</p>
          </li>
          <li>
            <p class="sale-bottom-text">Band Colour: Steel</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
