<section class="sale-section">
  <div class="sale-container">
    <h2 class="sale-title">Sale</h2>
    <div>
      <ul>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
      </ul>
      <img src="" alt="" />
    </div>
    <h3 class="sale-second-title">Greenlane Watch By Police For MenHT</h3>
    <p class="sale-top-text">Product tag: PEWJK2227003</p>
    <div class="prices">
      <span class="new-price">€700</span>
      <span class="old-price">€1000</span>
    </div>
    <h4 class="sale-subtitle">Description</h4>
    <p class="sale-bottom-text subject">
      Richly detailed with an understated design - the Police Men's Greenlane
      watch features a versatile multifunction design that fits effortlessly
      into work and play. The steel case is adorned with a semi-transparent
      black dial. The timepiece exhibits a contrast through a black IP bracelet
      with matching crown and pushers.
    </p>
    <h4 class="sale-subtitle">DETAILS &#38; FEATUREStion</h4>
    <ul>
      <li>
        <p class="sale-bottom-text">Gender: man</p>
      </li>
      <li>
        <p class="sale-bottom-text">Size: 46x54.5mm</p>
      </li>
      <li>
        <p class="sale-bottom-text">Case Colour: Steel</p>
      </li>
      <li>
        <p class="sale-bottom-text">Band Material: Metal</p>
      </li>
      <li>
        <p class="sale-bottom-text">Case Material: Metal</p>
      </li>
      <li>
        <p class="sale-bottom-text">Features: Multifunction</p>
      </li>
      <li>
        <p class="sale-bottom-text">Water Resistant: 5 (ATM)</p>
      </li>
      <li>
        <p class="sale-bottom-text">Band Colour: Steel</p>
      </li>
    </ul>
  </div>
</section>
