<section class="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div>
      <ul>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
      </ul>
      <img src="" alt="" />
    </div>
    <h3>Greenlane Watch By Police For MenHT</h3>
    <p>Product tag: PEWJK2227003</p>
    <p></p>
    <h4>Description</h4>
    <p>
      Richly detailed with an understated design - the Police Men's Greenlane
      watch features a versatile multifunction design that fits effortlessly
      into work and play. The steel case is adorned with a semi-transparent
      black dial. The timepiece exhibits a contrast through a black IP bracelet
      with matching crown and pushers.
    </p>
    <h4>DETAILS &#38; FEATUREStion</h4>
    <ul>
      <li>
        <p>Gender: man</p>
      </li>
      <li>
        <p>Size: 46x54.5mm</p>
      </li>
      <li>
        <p>Case Colour: Steel</p>
      </li>
      <li>
        <p>Band Material: Metal</p>
      </li>
      <li>
        <p>Case Material: Metal</p>
      </li>
      <li>
        <p>Features: Multifunction</p>
      </li>
      <li>
        <p>Water Resistant: 5 (ATM)</p>
      </li>
      <li>
        <p>Band Colour: Steel</p>
      </li>
    </ul>
  </div>
</section>
