img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 20px;
    border: 2px solid tomato;
}

.about-title {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #1E2827;
    margin-bottom: 20px;
}

.about-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #141414;
    margin-bottom: 40px;
}

.about-text-paragraph {
    margin-top: 20px;
}

@media screen and (max-width: 767px) {
    .container {
        width: 375px;
    }
}

@media screen and (min-width:768px) {
    .container {
        max-width: 1279px;
    }


}