.about-us {
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-us-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.about-us-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

.about-us-item {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.about-us-img {
  width: 335px;
  height: 365px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .about-us-title {
    margin-bottom: 20px;
  }

  .about-us-item-paragraph {
    margin-top: 20px;
  }

  .about-us-item:last-child {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 375px) {
  .about-us-container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .about-us {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .about-us-container {
    max-width: 744px;
  }

  .about-us-title {
    width: 174px;
    margin-right: 40px;
    font-size: 40px;
    line-height: calc(44 / 40);
  }

  .about-us-field {
    display: flex;
    margin-bottom: 40px;
  }

  .about-us-list {
    display: flex;
    gap: 20px;
  }

  .about-us-item-text {
    width: 220px;
    /* margin-right: 20px; */
  }

  .about-us-item-paragraph {
    width: 250px;
    margin-top: 0;
  }

  .about-us-img {
    width: 704px;
    height: 465px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .about-us-container {
    max-width: 1216px;
  }

  .about-us-field {
    display: flex;
  }

  .about-us-title {
    margin-right: 110px;
  }
  .about-us-list {
    gap: 40px;
  }

  .about-us-item-text {
    width: 439px;
    /* margin-right: 40px; */
  }

  .about-us-item-paragraph {
    width: 380px;
  }

  .about-us-img {
    width: 892px;
    height: 500px;
    margin-right: 0;
  }
}
