.new-watches-title {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.06em;
  color: rgba(20, 20, 20, 0.4);

  margin-bottom: 8px;
}

.new-watches-subtitle {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;

  margin-bottom: 40px;
  max-width: 448px;
}

.new-watches {
  display: flex;
  flex-direction: column;
}
.new-watches-section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.new-watches-container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.new-watches-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}
@media screen and (max-width: 374px) {
  .new-watches-item {
    width: 100%;
  }
}

@media screen and (min-width: 375px) {
  .new-watches-container {
    max-width: 375px;
  }
  .new-watches-item {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .new-watches-section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .new-watches-container {
    max-width: 768px;
  }

  .new-watches-list {
    flex-direction: row;
  }

  .new-watches-item {
    width: 342px;
  }

  .new-watches-subtitle {
    font-size: 40px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 1280px) {
  .new-watches-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .new-watches-container {
    max-width: 1216px;
  }

  .new-watches-item {
    width: 576px;
  }

  .new-watches-subtitle {
    margin-bottom: 80px;
  }
}
